{{ $disableImageOptimization := site.Store.Get "disableImageOptimization" }}

{{ $useDefault := false }}
{{ $featured := "" }}
{{ $featuredURL := "" }}
{{ with .Params.featureimage }}
{{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
{{ if site.Params.hotlinkFeatureImage }}
{{ $featuredURL = . }}
{{ else }}
{{ $featured = resources.GetRemote . }}
{{ end }}
{{ else }}
{{ $featured = resources.Get . }}
{{ end }}
{{ end }}

{{ if not (or $featured $featuredURL) }}
{{ $images := .Resources.ByType "image" }}
{{ range slice "*background*" "*feature*" "*cover*" "*thumbnail*" }}
{{ if not $featured }}{{ $featured = $images.GetMatch . }}{{ end }}
{{ end }}
{{ end }}

{{ if not (or $featured $featuredURL) }}
{{ $default := site.Store.Get "defaultBackgroundImage" }}
{{ if $default.url }}
{{ $featuredURL = $default.url }}
{{ $useDefault = true }}
{{ else if $default.obj }}
{{ $featured = $default.obj }}
{{ $useDefault = true }}
{{ end }}
{{ end }}

{{/* generate image URL if not hotlink */}}
{{ if not $featuredURL }}
{{ with $featured }}
{{ $featuredURL = .RelPermalink }}
{{ if not (or $disableImageOptimization (eq .MediaType.SubType "svg")) }}
{{ $size := site.Store.Get "backgroundImageWidth" }}
{{ $featuredURL = (.Resize $size).RelPermalink }}
{{ end }}
{{ end }}
{{ end }}

{{ with $featuredURL }}
{{ $style := "" }}
{{ $defaultPosition := cond $useDefault site.Params.imagePosition false }}
{{ $pos := $.Params.imagePosition | default $defaultPosition }}

{{/* Support decimal positioning for consistency with basic.html */}}
{{ if and (not (findRE "[a-zA-Z%]" (printf "%v" $pos))) (findRE "^0\\.[0-9]+$" (printf "%v" $pos)) }}
{{ $percent := (mul (float $pos) 100) }}
{{ $pos = printf "center %.0f%%" $percent }}
{{ end }}

{{ if $pos }}
{{ $style = printf "object-position: %s; %s" $pos $style }}
{{ end }}

<div class="overflow-hidden flex justify-start bg-neutral-100/50 dark:bg-neutral-800/50" style="max-height: 500px;">
    {{/* Merged style attribute and support decimal positioning */}}
    <img src="{{ . }}" role="presentation" loading="eager" decoding="async" fetchpriority="high" class="nozoom block"
        style="max-height: 500px !important; width: auto !important; max-width: 100% !important; {{ $style | safeCSS }}">
</div>
{{ end }}