<!-- VERSION 2 - UNCACHED -->
<!-- Google Scholar / Highwire Press Metadata -->
{{ if .IsPage }}
<meta name="citation_title" content="{{ .Title }}">
{{ range .Params.authors }}
<meta name="citation_author" content="{{ . }}">
{{ end }}
<meta name="citation_publication_date" content="{{ .Date.Format " 2006/01/02" }}">
{{ if .Params.journal }}
<meta name="citation_journal_title" content="{{ .Params.journal }}">{{ end }}
{{ if .Params.pdf }}
<meta name="citation_pdf_url" content="{{ .Params.pdf | absURL }}">{{ end }}
{{ end }}

<!-- Open Graph Tags -->
<meta property="og:title"
    content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}">
<meta property="og:description"
    content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary | plainify }}{{ else }}{{ .Site.Params.description }}{{ end }}{{ end }}">