{{ define "main" }}
{{/* Header - Aligned with Theme Standard */}}
<header class="mb-10">
    {{ if .Params.showBreadcrumbs | default (site.Params.list.showBreadcrumbs | default false) }}
    {{ partial "breadcrumbs.html" . }}
    {{ end }}
    <h1 class="mt-5 text-4xl font-extrabold text-neutral-900 dark:text-neutral">{{ .Title }}</h1>
    <div class="mt-1 mb-2 text-base text-neutral-500 dark:text-neutral-400 print:hidden">
        {{ partial "article-meta/list.html" (dict "context" . "scope" "single") }}
    </div>
</header>

<div class="prose dark:prose-invert max-w-none">
    {{ .Content }}
</div>
{{ end }}